@charset "UTF-8";

/* versao mobile first */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: url(/imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(167, 152, 152, 0.622);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 3px 3px #041586;

}

img {
    display: block;
    margin: auto;
}

#phone {
    display: block;
}

#tablet {
    display: none;
}

#print {
    display: none;
}

#pc {
    display: none;
}

#tv {
    display: none;
}