@charset "UTF-8";
        body {
            background-color: rgb(190, 239, 157);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: rgb(230, 169, 14);
            background-color: rgb(122, 65, 16);
        }

        h2 {
            color: rgb(114, 65, 6); background-color: rgb(167, 136, 15);
        }

        p {
            text-align: justify; font-family: 'arial', Courier, monospace; color: rgb(16, 2, 2);
        }
    